{% extends '../base/base.html' %}

{% block content %}
{% load static %}
<h3>Форма создания нового проекта</h3>

<form action="{% url 'create_project' %}" method="POST">
    {% csrf_token %}

    <label for="project_number">Номер проекта:</label>
    <input type="number" name="project_number" id="project_number" required><br>

    <label for="project_name">Название проекта:</label><br>
    <textarea name="project_name" id="project_name" cols="60" rows="2" required></textarea><br>

    <button type="submit" class="btn btn-success">Создать</button>
</form>
{% endblock content %}